.layout-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.layout-container--main {
  grid-column: 4/-1;
  margin-top: 1rem;
}
.layout-container--aside {
  grid-column: 1/4;
}
