.card {
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem;
  transition: transform 100ms ease-in-out;

  color: #2d4356;
  /* color: #323334; */
  /* 2D4356 */
  /* background-color: #C89D57; */
  /* color: #D7D7D8; */
  background-color: #d7d7d8;
}

.card:hover {
  cursor: pointer;
}

.card-header {
  display: flex;
  gap: 1rem;
}

.card-header__avatar {
  border-radius: 100%;
  width: 70px;
}
.card-header__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header__user > p {
  margin: 0;
}

.card-header__user--username {
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card-content__header {
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 800;
  margin: 0.7rem 0;
}

.card-content__header:hover {
  color: #c89d57;
}

.card-content__tags {
  display: flex;
  gap: 10px;
}
.card-content__bottom {
  display: flex;
  margin: 0.7rem 0;
  justify-content: space-between;
}

.card-content--comment {
  display: flex;
  gap: 5px;
}
