.show {
  display: block;
  position: absolute;
  background-color: antiquewhite;
  z-index: 2;
  top: 0;
  height: 100vh;
  padding: 2rem;
  transition: all 1s ease-in-out;
}

.active {
  display: block;
  transform: translateY(0); /* Slide in from the top */
}

.aside-header {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.aside-btn {
  background-color: transparent;
  border: none;
}

.hide {
  display: none;
}

/* ASIDE UL */
.aside-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0;
}

.aside-list > li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.aside-tags {
  max-height: 200px;
  overflow-y: auto;
}

.aside-heading {
  margin-left: 2rem;
  font-weight: 700;
  margin-top: 2rem;
}

@media screen and (min-width: 577px) {
  aside {
    /* max-width: 30%; */
    grid-column: 1/4;
    height: 100vh;
    background-color: antiquewhite;
    position: fixed;
    width: calc(100vw / 12 * 3);
  }
}

@media screen and (max-width: 576px) {
  aside {
    display: none;
  }
}
